# Exlude unwanted dirs
.idea/
__pycache__/

# Exlude data
data/littre.txt
data/philosophers.csv
data/french_writers.csv
data/wiki_failed_philo.txt
data/wiki_failed_fr_writers.txt

# Exclude temp files
result/*
show_def.sh
